<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ng-flash-message>
</ng-flash-message>
<p *ngIf="completedEvent">
  {{event.name }} <br/>
  {{event.seats - event.taken}} left <br/>
  {{event.time}} - {{event.location}} <br/>
  {{event.organizer.first_name}} {{event.organizer.last_name}} - {{event.organizer.phone}} <br/>
  {{event.taken}}/{{event.seats}} seats taken <br/>
  <button *ngIf="!isOld && !event.deleted" (click)="bookATicket(event.id)"> Book</button>
</p>
<div *ngIf="completedLikes">
    <button (click)="like()">likes {{likes}}</button>
  - <button (click)="dislike()">dislikes {{dislikes}}</button>

</div>
<br/>
<br/>
<div *ngIf="completedComments">
<h1>Comment section: </h1>
  <ul *ngFor="let comment of comments$">
    <li>
      {{comment.user.first_name}}: <br/>
      {{comment.comment}}
    </li>
  </ul>
  <div *ngIf="!isOld">
  <label *ngIf="loggedUser && !event.deleted" > comment here: <br/>
    <input  id="comment_input" type="text" [(ngModel)]="newComment"> <br/>
  <button  (click)="addComment(newComment)"
          onClick="document.getElementById('comment_input').value = ''"> comment</button>
  </label>
  </div>
</div>


</body>
</html>
